*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  //   color: wheat;
}
.reactroot {
  background: #23272f;
  background-image: url("../Tutorials/ExternalUtils/images/image_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .reactHeading {
    color: #00c0ff;
    background: #071730;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;

    .arrowBtn{
      background: #00c0ff;
      border-radius: 5px;
      .arrowIcon{
        border-right: 15px solid #071730;
      }
    }

    .openFixedArrowBtn{
      position: fixed;
      left: 10px;
      top: 10px;
      z-index: 90;
    }
  }
  .reacContainertWrapper {
    display: flex;
    .reactNavContainer {
      width: 180px;
      height: calc(100vh - 50px);
      background: rgb(39, 39, 39);
      border-right: 1px solid #005976;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      &.close{
        width: 0px;
        overflow: hidden;
        border: none;
        min-width: 0px;
        .directory_list{
          display: none;
        }
      }
    }
    .file-path {
      position: absolute;
      font-size: 16px;
      letter-spacing: 1.5px;
      right: 0;
      color: #7c7c7c;
      display: none;
      cursor: pointer;
    }
    .file-path:hover {
      color: #4b879c;
    }

    .fileNavigator {
      min-width: 300px;
      height: 100vh;
      overflow: auto;
      background: #000000;
      color: #ffffff;
      .directory_list {
        margin: 0;
        padding-left: 35px;
      }

      .directory_list {
        ul {
          margin-left: 10px;
          padding-left: 20px;
          border-left: 1px dashed #00c0ff;
          margin: 0;
          li {
            list-style: none;
            padding-left: 10px;
            font-size: 17px;
            position: relative;
            font-weight: normal;
            cursor: pointer;
            position: relative;
            &:before {
              position: absolute;
              left: -20px;
              content: "";
              height: 20px;
              vertical-align: middle;
              width: 20px;
              background-repeat: no-repeat;
              display: inline-block;
            }
          }
        }
        a {
          border-bottom: 1px solid transparent;
          text-decoration: none;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
        .folder {
          margin: 10px 10px 10px 5px;
          border-radius: 10px;
          padding: 4px 0px 2px 5px;
          color: #aaaaaa;
          a {
            //   color: #777;
            font-weight: bold;
          }
          &:before {
            /* folder icon if folder class is specified */
            background-image: url("https://static.toiimg.com/thumb/imgsize-7002,msid-101602589,width-25,resizemode-4/100444019.jpg");
            background-position: center top;
            background-size: 75% auto;
          }
          &.active {
            color: #ffffff;
          }
        }
        .file {
          margin: 10px 10px 10px 5px;
          font-size: 16px;
          color: #f1f1f1;
          &:before {
            /* file icon if file class is specified */
            background-image: url("https://static.toiimg.com/thumb/imgsize-7002,msid-101602591,width-25,resizemode-4/100444019.jpg");
            background-position: center 2px;
            background-size: 60% auto;
          }
          &.active {
            color: #00c0ff;
            border-right: 1px solid #ffffff;
          }
        }
      }
    }
    .reactDynContainerWrapper {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      .siteHeader{
        height: 50px;
        position: sticky;
        top: 0;
        background: black;
        box-shadow: 1px 1px 20px #00c0ff;
        padding: 0px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .pageNavigator{
          display: flex;
          justify-content: center;
          align-items: center;
          .arrowBtn{
            margin: 0px 5px;
            .arrowIcon{
              border-right: 15px solid #00c0ff;
            }
            &:hover{
              background: #05398b;
            }
          }
         
        }
        .sitelogo{
          color: #00c0ff;
          font-size: 25px;
          font-weight: 600;
          letter-spacing: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 10px;
        }
        
      }
      #reactDynContainer{
        color: white;
        width: 100%;
        height: calc(100vh - 50px);
        overflow-y: scroll;
        overflow-x: hidden;
        background: rgba(0, 0, 0, 0.555);
        padding: 30px 20px 30px;
      }
    }
  }
}
.d-none {
  display: none;
}

.arrowBtn{
  width:30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(0, 54, 98);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  .arrowIcon{
    width:15px;
    height: 15px;
    margin-right: 3px;
    border-top: 10px solid transparent;
    border-right: 15px solid #00c0ff;
    border-bottom: 10px solid transparent;
  }
  &.right{
    transform: rotateY(180deg);
  }
}
